*{
	margin: 0px
}

body {
font-family: 'Oxygen', sans-serif;
background: url(../img/bgthree.jpg);
background-size: cover;

}
.container{
width: 450px;
margin-top: 80px;
  margin-bottom: 100px;
  margin-right: 550px;
  margin-left: 450px;

}
/*admin form*/

.reset-section {
		opacity: 0.8;

	background-color: #5D6D7E;
	padding:25px;

}

.reset-section img {
	margin: 0 auto;
	width:  150px;
	display: block;


}
.reset-section h3{
color: #fff;
text-align: center;
font-size: 30px;
margin: 10px 0px
}
.form-control{
	width: 94%;
	height:25px;
	padding: 5px;
	margin: 5px 0px;

.button{
margin: 10px auto;

display: block;

background:#a9a9a9;

color: #fff;
background-color:#5d74b9;

padding: 6px 14px;

border:none;

text-transform: uppercase;

box-shadow: 2px 2px 4px #a9a9a9;

text-align: center;


}